html,
body,
p,
div {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  margin-top: 20px;
  margin: auto;
  width: 50px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding-top: 20px;
  /* padding-bottom: 15px; */
  font-size: 27px;
}

/* our team */

.our-team {

  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  width: 20%;
}

.team-member img {
  border: 5px solid white;
  border-radius: 100%;
  width: 80%;
  transition: all 1s;
}

.team-member img:hover {
  border: 5px solid #2980b9;
}

.team-member h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.team-member p {
  margin: 0 10px;
}

.list-icon {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-icon li {
  display: inline-block;
  padding-right: 10px;
}

.icon {
  color: white;
  font-size: 25px;
  background-color: #3498db;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  display: block;
  text-align: center;
  transition: all 0.3s;
}

.icon:hover,
.icon:active {
  background-color: #e74c3c;
}

/* contact us */
.contact-us {
  background-color: rgb(248, 248, 248);
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 0;
}

.form input,
textarea {
  flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
  margin: 10px 0 13px 0;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  /* background-color: #e7f2f8; */
  width: 90%;
}

.form-left,
.form-right {
  flex: auto;
  width: 50%;
}

input,
textarea {
  font-style: italic;
}

textarea {
  height: 100px;
}

.btn {
  padding: 10px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.submit {
  padding: 10px 40px;
  background-color: #3498db;
  cursor: pointer;
  box-shadow: 0 7px #2980b9;
}

.submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Responsive */
@media (max-width: 1000px) {
  .team {
    justify-content: center;
  }

  .team-member {
    width: 40%;
  }

  .icon {
    margin-bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .heading {
    font-size: 20px;
  }

  .form input,
  textarea {
    width: 85%;
  }
}

@media (max-width: 670px) {
  .team-member {
    width: 70%;
  }

  .form input,
  textarea {
    width: 100%;
  }

  .form {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  .form-left,
  .form-right {
    flex: auto;
    width: 100%;
  }
}
